<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Ngg</title>
    <base href="/">
    <script src="/vendor/Oimo.js" type="text/javascript"></script>
    <script src="/vendor/babylon.2.3.js" type="text/javascript"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>

    {{#unless environment.production}}
    <script src="/ember-cli-live-reload.js" type="text/javascript"></script>
    {{/unless}}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
<ngg-app>Loading...</ngg-app>
{{#each scripts.polyfills}}
<script src="{{.}}"></script>
{{/each}}
<script>
    System.import('system-config.js').then(function () {
        System.import('main');
    }).catch(console.error.bind(console));
</script>
</body>
</html>
